<app-auth-wrapper title="Register">

  <form [formGroup]="form" (ngSubmit)="submitForm()" class="space-y-4 md:space-y-6">

    <app-form-input [formControl]="getControl('username')" controlName="username" ngDefaultControl/>

    <app-form-input [formControl]="getControl('email')" controlName="email" ngDefaultControl/>

    <app-form-input [formControl]="getControl('password')" controlName="password" ngDefaultControl/>

    <!-- Submit Button -->
    <div>
      <p-button
        type="submit"
        fluid="true"
        styleClass="text-black w-full mt-2"
        severity="contrast"
        [disabled]="!form.valid"
      >
        Register
      </p-button>
    </div>
  </form>

</app-auth-wrapper>
