<p-toast></p-toast>

<section class="bg-gray-50 dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center"
        >
          Login
        </h1>

        <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4 md:space-y-6">
          <!-- Email -->
          <div>
            <p-floatlabel variant="in">
              <input
                pInputText
                id="email"
                formControlName="email"
                class="w-full"
                type="email"
              />
              <label for="email">Email</label>
            </p-floatlabel>
            @if(isRequired('email')){
              <small class="text-red-500 font-medium">
                Email is required.
              </small>
            }
          </div>

          <!-- Password -->
          <div>
            <p-floatlabel variant="in">
              <p-password
                fluid="true"
                id="password"
                formControlName="password"
                inputId="password"
                [toggleMask]="true"
              ></p-password>
              <label for="password">Password</label>
            </p-floatlabel>
            @if(isRequired('password')){
              <small class="text-red-500 font-medium">
                Password is required.
              </small>
          }
          </div>

          <!-- Submit Button -->
          <div class="flex justify-center items-center">
            <p-button
              type="submit"
              fluid="true"
              styleClass="text-black w-[140px]"
              severity="contrast"
            >
              Login
            </p-button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
