<app-auth-wrapper title="Login">

      <form [formGroup]="form" (ngSubmit)="submitForm()" class="space-y-4 md:space-y-6">
        <!-- Email -->
        <app-form-input [formControl]="getControl('username')" controlName="username" ngDefaultControl/>
        <app-form-input [formControl]="getControl('password')" controlName="password" ngDefaultControl/>

        <!-- Submit Button -->
        <div>
          <p-button
            type="submit"
            fluid="true"
            styleClass="text-black w-full mt-5 hover"
            severity="contrast"
            [disabled]="!form.valid"
          >
            Login
          </p-button>
        </div>

        <!-- Don't have an account yet? Link -->
        <div class="text-center mt-4">
          <p class="text-gray-600 dark:text-gray-300">
            Don't have an account yet?
            <a routerLink="../register" class="text-blue-400 hover:underline">
              Register
            </a>
          </p>
        </div>
      </form>

</app-auth-wrapper>
