<!-- File Information -->
@let isOwnUser = isOwnUser$() | async;

@if (file$() | async; as file) {
  @switch (file.state) {
    @case (State.Loaded) {
      @if (file.data) {
        <div class="mt-6 overflow-y-auto">
          <!-- Display file content as text if content is available -->
          @if (file.data.content) {
            <div class="relative mt-4 border border-gray-300 rounded-xl shadow-lg overflow-hidden">


              <!-- Header with Toggle Buttons -->
              <div class="flex justify-end items-center bg-gray-200 px-4 py-2 border-b border-gray-300">
                <div class="flex space-x-2">
                  <!-- Code Button -->
                  <button
                    pButton
                    type="button"
                    class="px-4 py-2 text-sm font-medium rounded-md transition duration-150"
                    [ngClass]="{
                    'bg-blue-500 text-white': isCodeView,
                    'bg-gray-300 text-gray-700 hover:bg-gray-400': !isCodeView
                  }"
                    (click)="isCodeView = true"
                  >
                    <i class="pi pi-code mr-2"></i>
                    Code
                  </button>

                  <!-- Rendered Button -->
                  <button
                    pButton
                    type="button"
                    class="px-4 py-2 text-sm font-medium rounded-md transition duration-150"
                    [ngClass]="{
                      'bg-blue-500 text-white': !isCodeView,
                      'bg-gray-300 text-gray-700 hover:bg-gray-400': isCodeView
                    }"
                    (click)="isCodeView = false"
                  >
                    <i class="pi pi-eye mr-2"></i>
                    Rendered
                  </button>

                  <!-- Upload & Delete Buttons (if user owns file) -->
                  @if (isOwnUser) {
                    <app-small-upload
                      [componentId]="componentId()"
                      (onFileUploaded)="refreshFile($event)"
                      [update]="true"
                      class="ml-2"
                    ></app-small-upload>
                    <button
                      class="px-4 py-2 text-sm font-medium rounded-md transition duration-150 ml-2 bg-[#f56565] text-white"
                      (click)="deleteFile(file.data.id)"
                    >
                      <i class="pi pi-trash mr-2"></i>
                      Delete
                    </button>
                  }
                </div>
              </div>


              <!-- Code View -->
              @if (isCodeView) {
                <pre class="bg-gray-900 text-white text-sm p-4 rounded-b-xl overflow-auto transition-all code-theme min-h-[300px] max-h-[500px] overflow-y-auto">
                {{ file.data.content | Base64ToText }}
              </pre>
              }
              @else {
                <!-- Rendered View -->
                <div class="p-4 bg-gray-50 rounded-b-xl border-t border-gray-300 transition-all min-h-[300px] max-h-[500px] overflow-y-auto">
                    <!-- Added pre and code tags -->
                    <pre>
                      <code>
                           <div [innerHTML]="file.data.content | Base64ToText:true"></div>
                      </code>
                    </pre>

                </div>
              }


            </div>
          }

        </div>
      } @else if (isOwnUser) {
        <app-upload
          [componentId]="componentId()"
          (onFileUploaded)="refreshFile($event)"
        />
      } @else {
        <div class="text-black w-full flex justify-center">
          No content to display
        </div>
      }
    }

    @case (State.Loading) {
      <div class="text-center py-6">
        <p-progress-spinner ariaLabel="Loading" />
      </div>
    }

    @case (State.Error) {
      <div class="text-black flex justify-center">
        Failed to get component's file
      </div>
    }
  }
}
