<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 p-4">
  @if (this.success) {
    <div class="bg-green-100 text-green-700 border border-green-500 rounded-md px-6 py-4 shadow-md text-center">
      <p class="text-lg font-semibold">Email successfully verified!</p>
      <p class="mt-2">You can go back now.</p>
    </div>
    <p-button
      routerLink="/components"
      styleClass="mt-6 px-6 py-3 text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg shadow-lg transition duration-300"
    >
      Go Back
    </p-button>
  } @else if (this.failure) {
    <div class="bg-red-100 text-red-700 border border-red-500 rounded-md px-6 py-4 shadow-md text-center"
    >
      <p class="text-lg font-semibold">Invalid Link</p>
      <p class="mt-2">Sorry, the link you clicked was invalid, or has expired. If you copied and pasted it, please make sure part of the link was not cut off.
      </p>
    </div>
    <p-button
      routerLink="../resend-verification"
    >
      Send Again
    </p-button>
  }
</div>
