<app-auth-wrapper title="Resend Verification Code">

    <form [formGroup]="form" (ngSubmit)="submitForm()" class="space-y-4 md:space-y-6">

      <app-form-input [formControl]="getControl('email')" controlName="email" ngDefaultControl/>

      <!-- Submit Button -->
      <div class="flex justify-center items-center">
        <p-button
          type="submit"
          fluid="true"
          styleClass="text-black w-[140px]"
          severity="contrast"
        >
          Send
        </p-button>
      </div>

    </form>

</app-auth-wrapper>
